/* ESTILO DO CORPO */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Verdana", sans-serif;
    font: inherit;
    text-decoration: none;
}
@charset "UTF-8";
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color: rgb(160, 159, 255);
}

/* APRESENTAÇÃO DE CABEÇALHO */

div#apresentacao{
    display:flex;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(3, 4, 17);
    
}
#nome{
    width: 400px;
    height: 200px;
}
h1{
    font-size: 40pt;
    padding-top: 5vw;
    margin-left: 10px;
    color: white;
}
h2{
    font-size: 25pt;
    margin-left: 10px;
    margin-bottom: 10px;
    color: white;
}

img.icone{
    margin-top: 120px;
    height: 60px;
    margin-left: 3vw;
    text-align: center;
    transition: all 1s;
}
img.icone:hover{
    transition: all 0.6s;
    opacity: 0.7;
    margin-top: 100px;
}


/* APRESENTAÇÃO PRINCIPAL */

.espaco{
    display: block;
    position: relative;
}

/* -------ANIMAÇÃO MARIO----------*/
.animacao{
    position: absolute;
    height: 200px;
    width: 100%;
}
.pipe{
    width: 60px;
    position: absolute;
    bottom: 0;
    left: 50%;

}
.mario{
    width: 70px;
    position: absolute;
    bottom: 0;
    animation: mario 8s infinite linear;
}

@keyframes mario{
    0%{
        left: 0;
        opacity: 0;
    }
    5%{
        opacity: 1;
    }
    95%{
        opacity: 1;
    }
    100%{
        left: 95%;
        opacity: 0;
    }
}

/* -------------------------------*/

#fotoeu{
    position: relative;
    float: right;
    margin-top: 40px;
    margin-right: 10%;
    border-radius: 1vw;
    height: 400px;    
    box-shadow: 5px 10px 10px rgb(0, 0, 0);
}

.texto{
    position: relative;
    text-align:left;
    width: 40%;
    margin-left: 15vw;
    margin-top: 200px;
    font-size: 24pt;
}




/* 
        ***********************************************
************* ÁREA DE CONHECIMENTOS DE LINGUAGENS **************
        ***********************************************
*/

.conhecimentos{
    width: 100%;
    height: 600px;
    text-align: center;
    display: block;
    background-color: rgb(0, 0, 0);
    
}

.titulo_conhecimento{
    font-size: 32pt;
    margin-top: 200px;
    position: relative;
    color: rgb(255, 255, 255);
}


.tecnologia{
    float: left;
    display: block;
    color: white;
    height: 150px;
    width: 15%;
    margin-top: 200px;
    margin-left: 3%;
    
    transition: 0.5s;
    box-shadow: 0px 0px 0px rgb(80, 80, 80);
    
}
.tecnologia:hover{
    
    transition: 0.4s;
    opacity: 70%;
    box-shadow: 0px 2px 0px rgb(202, 202, 202);
}
.img_tec{
    height: 100px;
    position: relative;
    
}
.leg_tec{
    font-size: 18pt;
    font-size: arial;
}

#legenda{
    display: flex;
    justify-content: space-between;
    height: 15%;
    
}

/* ESPAÇO PARA TEXTO E CURRÍCULO */
.texto2{
    position: absolute;
    text-align:left;
    width: 40%;
    margin-left: 10%;
    margin-top: 200px;
    font-size: 24pt;
}
#curriculo{
    height: 640px;
    width: 50%;
    margin-top: 20px;
    position: relative;
    float: right;
    display: flex;
    align-items: center;
    text-align: center;
    /*margin-right: 20%;*/
    border-radius: 100% 0% 0% 0%;
    background-color: rgb(0, 0, 0);
    transition: 1s;
}

.img_opcao{
    height: 150px;
}


.a_opcao{
    position: relative;
    height: 200px;
    margin: 50px auto 0px auto;
    text-align: center;
    transition: 0.5s;
    color: black;
}
.a_opcao:hover{
    margin: 20px auto 0px auto;
    transition: 0.5s;
    opacity: 90%;
    color: white;
}

/*
        **************************
        *                        *
        * ESPAÇO PARA OS PROJETOS*
        *                        *
        **************************
*/

#projetos{
    margin-top: 800px;
    display: block;
    border: 4px solid white;
}
.projeto{
    display: block;
    width: 100%;
    height: 330px;
    background-color: rgb(0, 0, 0);
    margin-top: 50px;
}
.imgprojeto{
    transition: 2s;
    width: 400px;
    height: 250px;
    margin-top: 40px;
    position: absolute;
    
    
}
.imgprojeto:hover{
    transition: 1s;
    width: 550px;
    height: 330px;
    margin-top: 0px;
}

.legprojeto{
    text-align: center;
    font-size: 24pt;
    position: absolute;
    margin-left: 70%;
    margin-top: 40px;
    color: rgb(0, 172, 114);
}

.textprojeto{
    color: white;
    font-size: 18pt;
    position: relative;
    float: right;
    margin-top: 150px;
    margin-right: 5px;
    width: 28%;
    text-align: center;
}
/*
*************************************************
                    FORMULÁRIO                  *
*************************************************
*/
form{
    border: solid 2px black;
    height: 600px;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    box-shadow: 2px 5px 10px black;
    border-radius: 5%;
    background-color: rgb(206, 206, 206);
}

#title_form{
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 2px black;
    text-align: center;
}
input, textarea{
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    box-shadow: 3px 3px 3px black;
}
.enviar{
    box-shadow: 3px 3px 3px black;
    width: 70px;
    height: 30px;
    transition: 1s;
    border-radius: 15%;
}
.enviar:hover{
    background-color: black;
    color: white;
    transition: 1s;
}

/*
************* RODAPÉ *************
*/
footer{
    margin-top: 70px;
    color: rgb(231, 246, 255);
    position: absolute;
    margin-bottom: 0;
    height: 100px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

#rodape{
    text-align: center;
    margin-top: 50px;
}


/* 
  =====================================================================
||                                                                     ||
||              ADAPITAÇÃO A DIFERENTES TAMANHOS DE TELA               ||
||                                                                     ||
  =====================================================================
*/


@media screen and (max-width: 800px){
    body{
        width: 100%;
        
    }

    #apresentacao{
        display: block;
        text-align: center;
        
    }
    #nome{
        position: absolute;
        width: 100%;
        height: 100px;
    }
    h1{
        font-size: 20pt;
    }
    h2{
        font-size: 15pt;
    }

    img.icone{
        margin-top: 120px;
        height: 45px;
        margin-left: 3vw;
        text-align: center;
        transition: all 1s;
    }
    img.icone:hover{
        transition: all 0.6s;
        opacity: 0.7;
        margin-top: 120px;
    }

    #fotoeu{
        height: 300px;
        margin: 50px auto 10px auto;
    }
    .espaco{
        display:grid;
        width: 100%;
        
    }
    .texto{
        text-align:justify;
        width: 80%;
        margin-top: 20px;
        font-size: 15pt;
    }


    /*
    ********************************** CONHECIMETOS ************************************
    */

    .conhecimentos{
        position: relative;
        width: 100%;
        margin-top: 40px;
        text-align: center;
        display: block;
        height: 440px;
    }
    
    .titulo_conhecimento{
        font-size: 17pt;
        position: relative;
        margin-top: 30px;
        width: 100%;
        
    }
    
    .tecnologia{
        text-align: center;
        position: relative;
        height: 75px;
        width: 15%;
        margin-left: 25%;
        margin-top: 40px;
        transition: 1s;
        box-shadow: 0px 0px 0px rgb(0, 0, 0);
        
    }
    
    .img_tec{
        height: 50px;
    }
    .leg_tec{
        font-size: 15pt;
        font-size: arial;
    }
    
    #legenda{
        display: flex;
        justify-content: space-between;
        height: 15%;
        
    }
    

    /* ESPAÇO PARA TEXTO E CURRÍCULO */
.texto2{
    position: relative;
    text-align:center;
    width: 60%;
    margin-left: 15vw;
    margin-top: 200px;
    font-size: 18pt;
    font-family: Arial sans-serif;
}
#curriculo{
    
    height: 400px;
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 100% 0% 0% 0%;
    background-color: rgb(0, 0, 0);
}

.img_opcao{
    height: 100px;
}


.a_opcao{
    position: relative;
    height: 200px;
    margin: 50px auto 0px auto;
    text-align: center;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}
.a_opcao:hover{
    margin: 50px auto 0px auto;
    transition: 0.5s;
    opacity: 80%;
    color: white;
}

/*
        **************************
        *                        *
        * ESPAÇO PARA OS PROJETOS*
        *                        *
        **************************
*/

#projetos{
    margin-top: 500px;
    display: block;
    border: 4px solid rgb(0, 0, 0);
}
.projeto{
    display:flex;
    width: 100%;
    height: 300px;
    background-color: rgb(0, 0, 0);
}
.imgprojeto{
    transition: 2s;
    height: 35%;
    width: 200px;
    position: relative;
    margin: 25px 0px 0px 10px;
}
.imgprojeto:hover{
    transition: 1s;
    width: 400px;
    height: 35%;
    margin: 25px 0px 0px 10px;
}

.legprojeto{
    font-size: 18pt;
    position: absolute;
    margin-top: 30px;
    color: rgb(145, 255, 218);
}

.textprojeto{
    color: white;
    font-size: 16pt;
    position: absolute;
    padding: 20px;
    margin: 150px auto 0px auto;
    width: 100%;
    text-align: center;
}

    
    footer{
        position: absolute;
        margin-bottom: 0;
        height: 100px;
        width: 100%;
        background-color: rgb(0, 0, 0);
    }
    
    #rodape{
        text-align: center;
        margin-top: 50px;
        font-size: 9pt;
    }
}