*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Verdana", sans-serif;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
@charset "UTF-8";
body{
    background-color: rgb(12, 14, 29);
    color: white;
    
}

div#apresentacao{
    display: block;
    border: 2px solid rgb(6, 2, 20);
    background-color: rgb(12, 14, 29);
}
h1{
    font-size: 40pt;
    padding-top: 10vw;
    margin-left: 10px;
}
h2{
    font-size: 25pt;
    margin-left: 10px;
    margin-bottom: 10px;
}

#fotoeu{
    float: right;
    margin: 60px 140px 20px 20px;
    border-radius: 1vw;
    height: 300px;    
}

a{
    color: rgb(160, 159, 255);
}
#contato{
    color: rgb(160, 159, 255);
    text-align: center;
}

img.icone{
    height: 60px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 30px;
    text-align: center;
    transition: all 1s;
}
img.icone:hover{
    height: 70px;
    transition: all 1s;
    margin-bottom: 50px;
}
.espaco{
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(31, 35, 73), rgb(0, 0, 0));
    height: 30vw;
}

#opcoes{
    
    background-color: rgb(12, 14, 29);
    height: 210px;
    
}


#opcao1{
    position: absolute;
    height: 150px;
    margin-left: 10vw;
    display: block;
    margin-top: 50px;
    transition: 1s;
}
#opcao2{
    position: absolute;
    height: 150px;
    margin-left: 45vw;
    margin-top: 50px;
    transition: 1s;
}
#opcao3{
    position: absolute;
    height: 150px;
    margin-left: 75vw;
    margin-top: 50px;
    transition: 1s;
}
#opcao1:hover{
    opacity: 40%;
    transition: 1s;
}
#opcao2:hover{
    opacity: 40%;
    transition: 1s;
}
#opcao3:hover{
    opacity: 40%;
    transition: 1s;
}

#espaco_opcoes{
    background-color: rgb(0, 12, 121);

}

.texto{
    text-align: center;
    width: 600px;
    margin-left: 160px;
    font-size: 20pt;
    font-family: Arial sans-serif;
}

#legenda{
    background-color: rgb(12, 14, 29);
    display: flex;
    height: 350px;
}

.texto_legenda1{
    position: relative;
    margin-left: 13vw;

}
.texto_legenda2{
    position: relative;
    margin-left: 28vw;

}
.texto_legenda3{
    position: relative;
    margin-left: 24vw;
}

footer{
    position: absolute;
    margin-bottom: 0;
    height: 200px;
    width: 100%;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(31, 35, 73), rgb(0, 0, 0));
}

#rodape{
    text-align: center;
    margin-top: 50px;
}