*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: "Verdana", sans-serif;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
@charset "UTF-8";
body{
    width: 100%;
    height: 100vh;
}

#curriculo{
    width: 100%;
    height: 100%;
}